In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
def normalizer(x):
    return((x - np.min(x))/(np.max(x)-np.min(x)))

In [13]:
objectives =['water',\
      'pasturelands',\
      'tourism',\
      'wildlife',\
      'livestock',\
      'health',\
      'education',\
      'landscape',\
      'nomadic_culture']
counts = np.array([[32,7,4],\
         [3,18,1],\
         [0,1,1],\
         [1,6,8],\
         [2,3,5],\
         [1,5,7],\
         [4,5,15],\
         [2,1,0],\
         [2,1,6]])

In [71]:
ranking = ['rank1','rank2','rank3']
obj = pd.DataFrame(counts, columns=ranking)
obj['objective'] = objectives
n = np.sum(obj.rank1)

In [75]:
['normed_%s'%(r) for r in ranking]

['normed_rank1', 'normed_rank2', 'normed_rank3']

In [83]:
for r,n in zip(ranking,[normalizer(obj[x]) for x in ranking]):
    obj['normed_%s'%r] = n

In [85]:
obj['sum_weight'] = np.sum(normed, axis=1)

,rank1,rank2,rank3,objective,normed_rank1,normed_rank2,normed_rank3,sum_weight
0,32,7,4,water,1.00000,0.352941,0.266667,1.619608
1,3,18,1,pasturelands,0.09375,1.000000,0.066667,1.160417
2,0,1,1,tourism,0.00000,0.000000,0.066667,0.066667
3,1,6,8,wildlife,0.03125,0.294118,0.533333,0.858701
4,2,3,5,livestock,0.06250,0.117647,0.333333,0.513480
5,1,5,7,health,0.03125,0.235294,0.466667,0.733211
6,4,5,15,education,0.12500,0.235294,1.000000,1.360294
7,2,1,0,landscape,0.06250,0.000000,0.000000,0.062500
8,2,1,6,nomadic_culture,0.06250,0.000000,0.400000,0.462500